@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

.cardContato{
    display: flex;
    align-items: center;
    width: 70%;
    margin-top: 40px;
    padding: 2px 16px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 15px;
    
}
.cardContato:hover{
    box-shadow: 0 8px 16px 0 var(--purple-color);
    transition: 0.6s;

}
.cardContato .text{
    color: var(--green-color);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}
.cardContato img{
    width: 230px;
    margin: 0 5px 0 5px;
    height: 230px;
    
}
